*{
    margin: 0;
    padding: 0;
  background-color:indigo;
    /* max-width: 1300px; */
}
nav{ 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
   margin-left: 100px;
   justify-items: center;
   color: white;
  
}
span{
    color:rgb(224, 150, 232) ;
}
.menu{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: white;
     list-style: none;

}
.btn{
    border-radius: 20px;
    background-color: rgb(193, 88, 192);
    color: white;
    align-items: center;
    border: none;
    padding-bottom: 2px;
    margin-right: 300px;

}
.btn>img{ 
    background: none;
  
}
.hamburger{
    display: none;
}
#banner{  
   /* border: 3px solid blue; */
   max-width: 1300px;
   height: 700px;
   color: white;
   
}
#banner .images{ 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
/* .banner .circle{ */
    position: absolute;
    margin-top: 100px;
  }
/* .banner .microphone{ */
    
       position: absolute;
       padding-top: 100px;
       background: none;
       margin-top: 90px;
}

.button{ 
    display: flex;
    row-gap: 8px;
   
    
}
.button .btn1{ 
    color: white;
    background-color: rgba(226, 43, 198, 0.799);
    border-radius: 20px;
    border: 5px;
    margin-top: 10px;
    padding: 4px 3px;
    background-color: none;
}
.button .btn2{ 
    margin-top: 10px;
    border-radius: 20px;
    color: olivedrab;
    border: 2px solid green;
    padding: 4px 3px;
}

#about{ 
   justify-items: center;
    align-items: center;
    color: white;
    height: 200px;
}
#about p{ 
       margin-top: 10px;
       font-weight: bold;
       justify-content: center;
       color: gray;
    }
#review{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: green;
}
 #review p{
    color: azure;
 }   
















 @media screen and (max-width:576px){  
.menu,.btn{
    display: none;
} 
#banner{
    display: block;
   max-width: 576px;
   justify-content: center;
    }
 .hamburger{
    display: inline;  
    padding-right: 20px;
}
#review{
    flex-wrap: wrap;
    grid-template-columns: (2, 1fr);
}
  }