*{
    margin: 0;
    padding: 0;
     background-color:indigo; 
    max-width: 1300px;
}
nav{ 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
   margin-left: 100px;
   justify-items: center;
   color: white;
  
}
span{
    color:rgb(224, 150, 232) ;
}
.menu{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: white;
     list-style: none;

}
.btn{
    border-radius: 20px;
    background-color: rgb(193, 88, 192);
    color: white;
    align-items: center;
    border: none;
    padding-bottom: 2px;
    margin-right: 300px;

}
.btn>img{
    background: none;
  
}
.hamburger{
    display: none;
}
#banner{
    display: block;
   position: relative;
   max-width: 1200px;
   height: 200px;
   color: white;
}
#banner .banner-container{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.banner-container .circle{
    position: absolute;
    margin-top: 100px;
 
}
.banner-container .microphone{
    
       position: absolute;
       padding-top: 100px;
       background: none;
       margin-top: 90px;
       
}

.banner-container .btn{
    display: flex;
    column-gap: 8px;
    background: none;
    justify-content: center;
    
}
.btn .btn1{
    color: white;
    background-color: rgba(226, 43, 198, 0.799);
    border-radius: 10px;
    border: 5px;
    margin-top: 10px;
    padding: 4px 3px;
    background-color: none;
}
.btn .btn2{
    margin-top: 10px;
    border-radius: 10px;
    color: olivedrab;
    border: 2px solid green;
    padding: 4px 3px;
}

#about{ 
    margin-top: 300px
    justify-items: center;
    align-items: center;
    color: white;
}
#about h3{ 
       margin-bottom: 20px;
       font-weight: bold;
       justify-content: center;
     padding-bottom: 15px;
}
















@media screen and (max-width:576px){ 
.menu,.btn{
    display: none;
} 
#banner{
    display: block;
   max-width: 576px;
   justify-content: center;
    }
 .hamburger{
    display: inline;   
}
 